// 主要布局
.app-main-layout {
  @include self-center;
  overflow-x: hidden !important;
  padding: 0px;

  min-width: $screen-xxs;
  max-width: $screen-xs;
}

.app-header {
  // 总 height 为 60px
  padding-top: 6px;
  padding-bottom: 6px;
  box-shadow: $box-shadow-base;

  h2 {
    line-height: 48px;
  }
}

.app-side-menu {
  height: 100%;
  width: 100%;
}
